go 1.21.4

use (
	./src/broker
	./src/frontend
	./src/auth
	./src/modules
	./src/mailer
	./src/messenger
	.
	src/logger
	src/messenger/default-queue/consumer
	src/messenger/default-queue/publisher
	src/messenger/work-queue/consumer
	src/messenger/work-queue/publisher
	src/messenger/work-queue/task-publisher
	src/messenger/work-queue/task-consumer
	src/messenger/work-queue
	src/messenger/common
)
